* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    ;
}

/* Iizio Sezione Utenti */

body div #users {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    padding: 50px;

    background-color: black
}

body div #users .user-display {
    position: relative;
    width: 180px;
    height: 130px;
    margin: 5px 2px;
}

body div #users .user-display img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

body div #users .user-display span {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 4px 3px;

    font-size: 11px;
    color: white;
    background-color: rgba(128, 128, 128, 0.548);
}

body div #users .user-display span i {
    padding-right: 3px;
}

/* Fine Sezione Utenti */

/* Inizio Nav-bottom */

#player {
    display: flex;
    justify-content: space-between;

    max-width: 100vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#player section {
    display: flex;
    gap: 8px;
}

body div:nth-of-type(2) {

    font-family: sans-serif;

    background-color: #222222;
}

#mic, #webcam, #invite, #manage, #polling, 
#share, #chat, #record, #rooms, #more-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    
    position: relative;

    padding: 10px 2px;

    color: white;
}

#mic, #webcam, #share {
    padding: 10px 25px 10px 10px;
}

#share .fa:first-of-type {
    color: #4BC800;
}

#button-description {
    font-size: 10px;
}

section div i:nth-of-type(2) {
    position: absolute;
    right: 0;
}

#player section:nth-of-type(3) {
    
}

#end {
    display: flex;
    align-items: center;

    padding: 10px;

    background-color: #4A4A4A;
    color: red;
}


