* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Iizio Sezione Utenti */

body {
    position: relative;

    font-family: sans-serif;
    background-color: black;
}

body #main {
    overflow: auto;
    height: calc(100vh - 60px);
}

#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;

    padding: 80px 20px;
}

#users .user-display {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 5px 2px;
}

#users .user-display img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

#users .user-display span {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 4px 3px;

    font-size: 11px;
    color: white;
    background-color: rgba(128, 128, 128, 0.548);
}

#users .user-display span i {
    padding-right: 3px;
}

/* Fine Sezione Utenti */

/* Inizio Nav-bottom */

body div:nth-of-type(2) {
    width: 100%;
    height: 60px;

    background-color: #222222;
}

#player {
    display: flex;
    justify-content: space-between;

    max-width: 100vw;
}

#player section {
    display: flex;
    gap: 8px;
}

#mic, #webcam, #invite, #manage, #polling, 
#share, #chat, #record, #rooms, #more-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    
    position: relative;

    padding: 10px 2px;

    color: white;
}

#mic, #webcam, #share {
    padding: 10px 25px 10px 10px;
}

#share .fa:first-of-type {
    color: #4BC800;
}

#button-description {
    font-size: 10px;
}

section div i:nth-of-type(2) {
    position: absolute;
    right: 0;
}

#player section:nth-of-type(3) {
    background-color: #4A4A4A;
}

#end {
    display: flex;
    align-items: center;

    padding: 10px;

    color: red;
}

/* elementi visivi in alto */

#view {
    display: flex;
    gap: 10px;

    position: fixed;
    top: 5px;
    right: 5px;
}

#view a {
    text-decoration: none;
    
    padding: 5px;
    border-radius: 5px;
    
    color: white;
    background-color: #424242;
}

#view a:first-child i {
    margin-right: 5px;
}

